


<nav>
    
    <div class="nav-wrapper" >
      <a routerLink="/inicio" class="brand-logo">Registro de Usuarios</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li *ngIf="InicioSesion" ><a routerLink="sass.html">Informes</a></li>
        <li *ngIf="InicioSesion"><a routerLink="badges.html">Crear compañia</a></li>
        <li *ngIf="InicioSesion"><a routerLink="/seguridad/cerrarSesion">Cerrar Sesion</a></li>
        <li *ngIf="InicioSesion"><a routerLink="/seguridad/identificacion">Iniciar Sesion</a></li>

      </ul>
    </div>
  
   </nav>

   

  
