 
<div class ="row">
    <div class = "col s12 l4 offset-l2">
        <div class = "card grey lighten-3">
            <div class="card-content">
                <h4 class="card-tittle center-align">Identificacion de Usuarios</h4>
                <form [formGroup] = "fgValidador" (ngSubmit) = "IdentificarUsuario()">
                    <div class ="row">
                        <div class= "input-field col s12">
                            <i class="material-icons prefix">email</i>
                            <input formControlName ="usuario" type="email" id="email" class="validate"/>
                            <label for="email">Usuario</label>
                        </div>
                    </div>
                    <div class ="row">
                        <div class= "input-field col s12">
                            <i class="material-icons prefix">vpn_key</i>
                            <input formControlName = "clave" type="password" id="password" class="validate"/>
                            <label for="email">password</label>
                        </div>
                    </div>
                    <div class="row center-align">
                        <button [disabled] = "!fgValidador.valid" class= "btn waves-effect waves-ligth" type ="submit" name="action">
                            <i class= "material-icons right">send</i>
                            <label for="email" class="white-text">Iniciar</label>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>                
